<div class="container">
  <div class="col-md-6">
    <div class="quote-box">
      <div class="quote-text">
        <i class="fa fa-quote-left quote-icon"></i>
        <span id="quote-text">{{quote.description}} </span>
      </div>
      <div class="quote-author">
        -<span id="author">{{quote.author}}</span>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-3 thumbs">
              <i (click)="upVoteQuote()" class="fa fa-thumbs-o-up icon"></i>
              <p>{{quote.upVotes}}</p>
            </div>
            <div class="col-sm-3 thumbs">
              <i (click)="downVoteQuote()" class="fa fa-thumbs-o-down icon"></i>
              <p>{{quote.downVotes}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 del-button">
          <div class="row">
            <button (click)="quoteDelete(true)" class="quote-button delete">Delete Quote</button>
          </div>
        </div>
      </div>
    </div>
    <div class="submitter">
      <p><strong>{{quote.dateAdded|date}}: </strong>Submitted by <strong>{{quote.submitter}}</strong> {{quote.dateAdded|
        elapsedTime}} ago</p>
    </div>
  </div>
</div>