<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="title"> 
        <h1>Quotes</h1>
      </div>
      <div *ngFor="let quote of quotes; let i = index">
        <div class="small-quote-box">
          <ul>
            <li id={{i}}>
              <p class="quote-description" > {{quote.description}}</p> 
              <p class="author"> - <em>{{quote.author}}</em></p>
              <p class="submitter-list">Submitted by <strong><em> {{quote.submitter}}</em></strong></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quotes-details></app-quotes-details>
      <app-quotes-form></app-quotes-form>
    </div>
  </div>
</div>