/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hurricane&family=Italianno&family=Playball&family=Poppins:wght@200&family=Yeseva+One&display=swap');
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
}
div {
  position: relative;
  z-index: 2;
}
body {
  background-color: #041F1E;
  color: #041F1E;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #F7DBA7;
  margin-top: 2em;
}
.quote-text{
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75rem;
}
.quote-icon {
  font-size: 1em;
  margin-right: 0.4em;
}
.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}
.buttons {
  width: 450px;
  margin: auto;
}
.quote-button {
  height: 50px;
  width: 75px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #041F1E;
  outline: none;
  font-size: 1em;
  padding: 8px;
  padding-bottom: 3.5em;
  opacity: 1;
  }
.thumbs {
  height: 50px;
  width: 75px;
  float: left;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
}
.icon {
  font-size: 2em;
}
.submitter {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  color: white;
  font-size: 0.8rem;
}
.title {
  color: white;
  text-align: center;
  font-family: 'Great Vibes', cursive; 
  
}
h1 {
  font-weight:500;
  font-size: 64px;
}
.small-quote-box {
  color: #1E2D2F;
  background-color: #F1AB86;
  border-radius: 5px;
}
.author {
  text-align: right;
  padding: 4px;
  margin-right: 5px;
}
.submitter-list {
  text-align: center;
  font-size: 43px;
  padding-bottom: 15px;
  font-size: 0.8rem;

}
.quote-description {
  padding-top: 2em;
}
h2 {
  color: #1E2D2F;
  text-align: center;
  font-family: 'Italianno', cursive;
  font-size: 64px;
  font-weight:500;

}
.quote-input {
  background-color: #C57B57;
}
textarea {
  background-color: #C57B57;
}
.form-sect {
  margin-bottom: 2em;
  border:#1E2D2F;
  background-color:#F7DBA7;
  color: #1E2D2F;
  padding: 2em;
  
}
.form-button {
  margin: 15px;
  max-width: 100%;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #041F1E;
  outline: none;
  font-size: 1em;
  padding: 8px;
  opacity: 1;
  
}